* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #000c2e;
}

a:link {
  text-decoration: none;
}

html,
body {
  background-color: #ffffff;
  height: 100vh;
  font-family: Helvetica, sans-serif;
  color: #000c2e;
}

body {
  display: grid;
  grid-template-rows: min-content auto min-content;
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: #000c2e solid 0.1em;
  position: fixed;
  min-width: 100%;
  background-color: #ffffff;
  color: #000c2e;
}

.project-h1 {
  margin: 0.5em;
}

p {
  line-height: 1.6;
}

.main {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  width: fit-content;
  background-color: red;
}

.main-about {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  height: calc(100vh - 200px);
}

.header-block {
  margin: 3em 2em;
  max-width: 350px;
}

.header-about {
  margin-top: 4em;
}

.header-about > p {
  margin-top: 1em;
}

.contact-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3em 2em;
  height: 450px;
}

.email-img {
  background-image: url(./img/mail.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  padding-top: 100px;
}

.description-block {
  margin: 2em;
}

.heading {
  margin: 1em;
}

.heading-less {
  margin: 0.5em;
}

.nav-btn-div {
  display: flex;
  width: fit-content;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #000c2e;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.link-img > img {
  max-width: 80%;
}

#email-link {
  color: #685858;
  font-style: italic;
}

.introduction-p {
  font-size: 18px;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.work-block {
  margin-bottom: 3em;
}

.project-container {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding-top: 2.5em;
  padding-left: 1em;
}

.project-description {
  margin-top: 0.5em;
}

.about-description {
  text-align: left;
  padding: 0;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 3em;
  line-height: 1.6;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #685858;
  width: 150px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
}

.contact > a {
  color: #685858;
}

.contact-item {
  margin-top: 0.5em;
  padding: 0.2em;
  width: fit-content;
}

header,
footer,
.gallery {
  padding: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #685858;
  height: 200px;
  padding: 1em;
}

.menu-tag {
  font-size: 16px;
  font-weight: 400;
  padding: 0.2em;
  margin: 0 0.5em;
  letter-spacing: 0.1em;
  line-height: 1.6;
}

.menu-tag:hover:not(h1) {
  background-color: #ffffff;
}

.logo {
  font-size: 16px;
  font-weight: bold;
}

.border {
  border: 1px solid #000c2e;
}

/*.flex-image {
  max-width: 90%;
  height: auto;
  margin: 5px;
}*/

.flex-item {
  height: 170px;
  max-width: 200px;
  padding: 0.3em;
  flex-grow: 1;
  object-fit: cover;
}

.img {
  margin: 0.5em;
  max-width: 80%;
}

.extension-img {
  border: 1px solid #ffffff;
  margin: 0.5em;
}

.specific-project-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 3em;
  list-style: none;
}

.back-btn {
  display: flex;
  flex-direction: row;
  border: 1px solid #000c2e;
  align-self: flex-start;
}

.back-btn-p {
  margin: 0.5em;
}

.back-arrow {
  margin-top: 0.4em;
  margin-right: 0.6em;
  height: 15px;
}

.dropbtn {
  cursor: pointer;
}

.dropdown {
  display: grid;
  text-align: left;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: #ffffff;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  color: #000c2e;
  letter-spacing: 0.1em;
}

.dropdown-content {
  display: none;
  position: fixed;
  left: 0;
  top: 5%;
  z-index: 1;
  border: 1px solid #000c2e;
  background-color: #ffffff;
  padding: 5px 5px;
  width: 100%;
  list-style: none;
  line-height: 2;
  font-size: 18px;
  letter-spacing: 0;
}

.dropdown-content a {
  color: #000c2e;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #edeaea;
}

.show {
  display: block;
}

.collection-caption-container {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

.collection-caption {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 52px;
  color: black;
}

@media screen and (min-width: 600px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    margin-top: 8em;
  }

  /* Navigation */

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 10em;
    top: 0;
    left: 0;
    margin-top: 0;
  }

  .menu-tag {
    font-size: 16px;
  }

  .nav-btn-div {
    width: 340px;
    justify-content: space-around;
  }

  .dropdown-content {
    top: 3.5%;
    right: 0px;
    left: unset;
    width: 428px;
    font-size: 16px;
  }

  .flex-item {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 5px;
    line-height: 150px;
    color: black;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }

  .projects-grid {
    display: flex;
    flex-flow: row wrap;
  }

  .project-description {
    max-width: 750px;
  }

  .project-h1 {
    margin: 0.5em;
    font-size: 40px;
  }

  .specific-project-container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-y: scroll;
    width: min-content;
  }

  .img {
    margin: 3em;
    max-width: 30%;
  }

  .img-description {
    bottom: 1px;
    position: fixed;
    margin-left: 1em;
    font-size: 16px;
  }

  .img-section > img {
    max-width: 50%;
  }

  .flex-image {
    display: flex;
    margin: 5px;
    height: 700px;
    object-fit: contain;
  }

  .frontpage-img {
    overflow: hidden;
  }

  .back-arrow {
    margin-top: 0.4em;
    margin-right: 0.1em;
    height: 20px;
  }

  #logo-name {
    margin-top: 0;
    color: black;
    font-size: 20px;
  }

  .header-block {
    margin: 8em 0 4em 0;
    max-width: 800px;
  }

  .header-block > p {
    font-size: 18px;
  }

  .introduction-h1 {
    font-size: 40px;
  }

  .introduction-p {
    font-size: 24px;
  }

  video {
    width: 640px;
    height: 480px;
  }

  .work-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em 0;
    width: 50%;
  }

  .work-block:hover {
    font-style: italic;
    font-weight: bold;
  }

  .work-block > p {
    margin: 1em;
    font-size: 18px;
  }

  #t-shirt-img {
    max-width: 450px;
  }

  footer {
    height: 260px;
    padding: 3em;
  }

  footer > p {
    max-width: 450px;
    font-size: 18px;
  }

  .contact-block > h1 {
    font-size: 40px;
  }

  .contact-block > p {
    font-size: 18px;
    max-width: 450px;
  }

  #main-contact {
    height: 100vh;
  }

  .main-about {
    height: calc(100vh - 260px);
  }
}
