 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .wrapper {
     height: 100vh;
      display: flex;
      flex-flow: row wrap;
  }

  .wrapper > * {
    flex: 1 100%;
  }

  a {
    color: black;
  }
  
  a:link {
    text-decoration: none;
  }

  html,
body {
  height: 100vh;
  background-color: #afa68b;
}

header {
    display: flex;
    flex-direction: column;
    background-color: pink;
    color: #EFFE06;
    padding: 4em;
}

#header-div {
    display: flex;
    justify-content: center; 
}

#left{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

#header-text {
font-size: 5em;
font-weight: 400;
letter-spacing:-0.07em;
}

@media all and (min-width: 800px) {
    #header-text {
        font-size: 18em;
        }
}

.header-info {
    display: flex;
    flex-direction: column;
    background-color: blue;
}

#header-info-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: purple;
}

.info {
    background-color: burlywood;
    font-size: 1.5em;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.tickets {
    color: #EFFE06;
}

.ticket {
    background-color: red;
}

#ticket-name {
    font-size: 5em;
    font-weight: 400;
}

#price {
    font-size: 5em;
    font-style: italic;
    font-weight: 100;
}

.ticket-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aqua;
}

#partout {
color: #F1EDC9;
}

.content-div {
    padding: 3em;
}

.events {
    background-color: #F1EDC9;  
}

.extra {
    background-color: #FEFDF5;
}

h3 {
    font-size: 3em;
    font-weight: 400;
}